In [0]:
%sql
create schema bronze;

In [0]:
%sql
CREATE TABLE bronze.emp(
  emp_id int,
  name string,
  dept string
)

In [0]:
%sql describe extended bronze.emp;

In [0]:
%sql
INSERT INTO bronze.emp(emp_id,name,dept) values(101, 'UDAY', 'DATA_ENGINEER');
INSERT INTO bronze.emp(emp_id,name,dept) values(102, 'UDAY', 'DATA_SCIENTIST');
INSERT INTO bronze.emp(emp_id,name,dept) values(102, 'UDAY', 'DATA_ANALYST');

In [0]:
%sql
select * from bronze.emp;